<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>What's For Dinner</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <header>
        <h1>What's For Dinner</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/Profile">Profile</a>
            <a href="/favorites">Favorites</a>
            {{#if loggedIn}}
            <button id="logout" class="btn-no-style">Logout</button>
            {{else}}
            <a href="/login">Login</a>
            {{/if}}
        </nav>
    </header>
    <main>
        <div class="dishes">
            {{{body}}}
        </div>
    </main>
    {{#if loggedIn}}
    <script src="/public/logout.js"></script>
</body>


{{!-- site description --}}

{{!-- search bar --}}
<form id="searchBar" placeholder="Search"></form>

</html>